body{
    margin-top: 2rem;
    width:30%;
    margin:auto;
}
.w-600{
    width: 600px;
}

.overflow-card{
    overflow-x: scroll;
    overflow-y: hidden;
}
::-webkit-scrollbar{
    width: 0px;
}
.post-body{
    
    margin:0.8rem;
}
.gap-10{
    gap: 10px;
}

.gray{
    background: #e6e3dc;
}

ul{
    list-style: none;
}

li{
    text-decoration: none;
}


a{
    display:inline-block;
    color:black;
    width:fit-content;
    height:fit-content
}

li a:focus, .current, li a:active{
    color: blue;
    border-bottom: blue solid 2px;
}

#fixed-section{
    position:sticky;
    top:0;
    z-index: 1;
    background-color: white;
    
}


.line{
    height:0.5rem;
    width:100%;
    background-color: rgb(204, 195, 195);
}

.card{
    border:none;
}
.status .card{
    width: 50px;
    height: 100px;
    border: grey;
}

.marginForThumbsup{
    margin-left: -10px;
}

.style-of-storycards{
    width:50px !important;
    height: 100px;
    position: relative;
   
}

.postion-absolute{
    position: absolute;
    top:54%;
    left:33%
    
}

.heightforcardimage{
    height:67%
}

.heightforcardbody{
    height:30%;
    padding-top:6px;
    
}

@media (max-width:900px){
    body{
        width:50%
    }

    .post-body{    
        margin:0.8rem;
    }
}

@media (max-width:750px){
    body{
        width:60%
    }

    .post-body{
    
        margin:0.8rem;
    }
}

@media (max-width:475px){
    body{
        width:100%;
        font-size: 13px;    
    }

    .post-body{
    
        margin:0.8rem;
    }
}
