body{
    margin-top: 2rem;
    /* margin-right:30rem;
    margin-left:30rem; */
    margin-left:auto;
}

.card{
    width:30%;
    margin:auto;
    border:none;
}

.marginForThumbsup{
    margin-left: -10px;
}

@media (max-width:900px){
    .card{
        width:50%
    }
}

@media (max-width:750px){
    .card{
        width:60%
    }
}

@media (max-width:475px){
    .card{
        width:90%
    }
}
